# ALPS (тензодатчик ADS131M02 на STM32F072), подключено датчиков: {N}.
# Основной зонд VOSTOK в printer_base.cfg - [probe]. Чтобы использовать ALPS как зонд, закомментируйте
# [probe] и раскомментируйте блок ниже (нужен MCU [mcu alps], см. printer.cfg), затем выполните LOAD_CELL_CALIBRATE.
#[static_pwm_clock alps_clk]
#pin: alps:PA3
#frequency: 8000000
#
#[load_cell_probe]
#sensor_type: ads131m02
#cs_pin: alps:PA15
#spi_bus: spi1_PB4_PB5_PB3
#data_ready_pin: alps:PB6
#gain: 128
#adc_channel: 0
#pwm_clock: static_pwm_clock alps_clk
#counts_per_gram: 138
#trigger_force: 200
#speed: 0.5
#second_homing_speed: 0.5
#x_offset: 0
#y_offset: 0
