# BTT EBB42 (по user_configs/electronics_octopus_pro_v1.1_h723_5x2209_2xebb42.cfg)
@@T0@@
[extruder]
step_pin: {M}:PD0
dir_pin: !{M}:PD1
enable_pin: !{M}:PD2
heater_pin: {M}:PB13
sensor_pin: {M}:PA3

[tmc2209 extruder]
uart_pin: {M}:PA15

[carriage xc]
endstop_pin: ^{M}:PB6

[probe]
pin: ^!{M}:PB8

[output_pin probe_enable]
pin: {M}:PB9

[heater_fan e0_fan]
pin: {M}:PA0

[controller_fan {M}_fan]
pin: {M}:PA1

[temperature_sensor {M}]
sensor_type: temperature_mcu
sensor_mcu: {M}
@@T1@@
[extruder1]
step_pin: {M}:PD0
dir_pin: {M}:PD1
enable_pin: !{M}:PD2
heater_pin: {M}:PB13
sensor_pin: {M}:PA3

[tmc2209 extruder1]
uart_pin: {M}:PA15

[dual_carriage wc]
endstop_pin: ^{M}:PB6

[heater_fan e1_fan]
pin: {M}:PA0

[controller_fan {M}_fan]
pin: {M}:PA1

[temperature_sensor {M}]
sensor_type: temperature_mcu
sensor_mcu: {M}
