# Fysetc H36 v2 (по user_configs/electronics_octopus_pro_v1.1_h723_5x2240_2xH36v2.0.cfg)
@@T0@@
[extruder]
step_pin: {M}:PB9
dir_pin: !{M}:PC15
enable_pin: !{M}:PC14
heater_pin: {M}:PB13
sensor_pin: {M}:PA3

[tmc2209 extruder]
uart_pin: {M}:PB6
interpolate: false
sense_resistor: 0.110

[carriage xc]
endstop_pin: ^{M}:PB5

[probe]
pin: ^!{M}:PC7

[output_pin probe_enable]
pin: {M}:PB3

[heater_fan e0_fan]
pin: {M}:PB0

[adxl345 t0_accelerometer]
cs_pin: {M}:PA4
spi_software_sclk_pin: {M}:PA5
spi_software_mosi_pin: {M}:PA7
spi_software_miso_pin: {M}:PA6
axes_map: -y,z,-x
rate: 1600
spi_speed: 1000000

[resonance_tester]
accel_chip: adxl345 t0_accelerometer
probe_points:
    200,125,20

[temperature_sensor {M}_mcu]
sensor_type: temperature_mcu
sensor_mcu: {M}
min_temp: 0
max_temp: 150

[temperature_sensor {M}_driver]
sensor_type: Generic 3950
sensor_pin: {M}:PA0
min_temp: 0
max_temp: 150
@@T1@@
[extruder1]
step_pin: {M}:PB9
dir_pin: {M}:PC15
enable_pin: !{M}:PC14
heater_pin: {M}:PB13
sensor_pin: {M}:PA3

[tmc2209 extruder1]
uart_pin: {M}:PB6
interpolate: false
sense_resistor: 0.110

[dual_carriage wc]
endstop_pin: ^{M}:PB5

[heater_fan e1_fan]
pin: {M}:PB0

[adxl345 t1_accelerometer]
cs_pin: {M}:PA4
spi_software_sclk_pin: {M}:PA5
spi_software_mosi_pin: {M}:PA7
spi_software_miso_pin: {M}:PA6
axes_map: -y,z,-x
rate: 1600
spi_speed: 1000000

[temperature_sensor {M}_mcu]
sensor_type: temperature_mcu
sensor_mcu: {M}
min_temp: 0
max_temp: 150

[temperature_sensor {M}_driver]
sensor_type: Generic 3950
sensor_pin: {M}:PA0
min_temp: 0
max_temp: 150
