# Fysetc H36 v1.3 (по electronics_octopus_pro_v1.1_h723_5x2240_2xH36v1.3.cfg)
@@T0@@
[extruder]
step_pin: {M}:PB9
dir_pin: {M}:PB8
enable_pin: !{M}:PB7
heater_pin: {M}:PA7
sensor_pin: {M}:PA6

[tmc2209 extruder]
uart_pin: {M}:PC14
interpolate: false
sense_resistor: 0.110

[carriage xc]
endstop_pin: ^{M}:PA8

[probe]
pin: ^!{M}:PC7

[output_pin probe_enable]
pin: {M}:PA15

[heater_fan e0_fan]
pin: {M}:PB13

[adxl345 t0_accelerometer]
cs_pin: {M}:PB12
spi_software_sclk_pin: {M}:PB10
spi_software_mosi_pin: {M}:PB11
spi_software_miso_pin: {M}:PB2
axes_map: -y,z,-x

[resonance_tester]
accel_chip: adxl345 t0_accelerometer
probe_points:
    200,125,20

[temperature_sensor {M}_mcu]
sensor_type: temperature_mcu
sensor_mcu: {M}
min_temp: 0
max_temp: 150

[temperature_sensor {M}_driver]
sensor_type: Generic 3950
sensor_pin: {M}:PA3
min_temp: 0
max_temp: 150
@@T1@@
[extruder1]
step_pin: {M}:PB9
dir_pin: !{M}:PB8
enable_pin: !{M}:PB7
heater_pin: {M}:PA7
sensor_pin: {M}:PA6

[tmc2209 extruder1]
uart_pin: {M}:PC14
interpolate: false
sense_resistor: 0.110

[dual_carriage wc]
endstop_pin: ^{M}:PA8

[heater_fan e1_fan]
pin: {M}:PB13

[adxl345 t1_accelerometer]
cs_pin: {M}:PB12
spi_software_sclk_pin: {M}:PB10
spi_software_mosi_pin: {M}:PB11
spi_software_miso_pin: {M}:PB2
axes_map: -y,z,-x

[temperature_sensor {M}_mcu]
sensor_type: temperature_mcu
sensor_mcu: {M}
min_temp: 0
max_temp: 150

[temperature_sensor {M}_driver]
sensor_type: Generic 3950
sensor_pin: {M}:PA3
min_temp: 0
max_temp: 150
