# Проводка BTT Octopus Pro по гайду VOSTOK (как в electronics_octopus_pro_v1.1_h723_5x2240_2xH36v1.3.cfg).
# Пины моторов и драйверов не заданы: их вписывает пользователь.
[carriage ylc]
endstop_pin: ^PG6

[extra_carriage yrc]
endstop_pin: ^PG9

[heater_bed]
heater_pin: PB0
sensor_pin: PF3

[fan]
pin: !PD12

[controller_fan electronics_fan]
pin: PD13

[led print_chamber_led]
white_pin: PB11
initial_WHITE: 1.0
