# Конфигурация электроники VOSTOK, сгенерирована установщиком (install_vostok.sh / configure_vostok.sh)
# ------------------------
# Плата: {BOARD}
# Платы голов: {HEADS}
# Драйверы: {DRIVERS}
# Пины, помеченные ЗАПОЛНИТЕ, впишите вручную по схеме вашей платы: без них Klipper не запустится.
# Проверьте также параметры моторов (ток, режим stealthchop) и блоки с пометкой СВЕРЬТЕ.
# Структура и имена секций как в electronics_*.cfg из корня репозитория.
#
#--------------------------------------------------------
#          Оборудование             |      Разъём       |
#-----------------------------------|-------------------|
# (впишите свою распиновку)         |                   |
#--------------------------------------------------------

#########################################################
# Двигатели
#########################################################

[stepper motor_x]
step_pin:
dir_pin:
enable_pin:
full_steps_per_rotation: 200

[stepper motor_w]
step_pin:
dir_pin:
enable_pin:
full_steps_per_rotation: 200

[stepper motor_yl]
step_pin:
dir_pin:
enable_pin:
full_steps_per_rotation: 200

[stepper motor_yr]
step_pin:
dir_pin:
enable_pin:
full_steps_per_rotation: 200

[stepper motor_z]
step_pin:
dir_pin:
enable_pin:
full_steps_per_rotation: 200

[extruder]
step_pin:
dir_pin:
enable_pin:
full_steps_per_rotation: 200

[extruder1]
step_pin:
dir_pin:
enable_pin:
full_steps_per_rotation: 200

#########################################################
# Драйверы
#########################################################

;;DRIVERS;;

#########################################################
# Концевики и датчик автоуровня
#########################################################

[carriage xc]
endstop_pin:

[dual_carriage wc]
endstop_pin:

[carriage ylc]
endstop_pin:

[extra_carriage yrc]
endstop_pin:

[probe]
pin:

[output_pin probe_enable]
pin:
value: 0

[gcode_macro PROBE_DEPLOY]
gcode:
    SET_PIN PIN=probe_enable VALUE=1

[gcode_macro PROBE_STOW]
gcode:
    SET_PIN PIN=probe_enable VALUE=0

#########################################################
# Нагреватели и термисторы
#########################################################

[extruder]
heater_pin:
sensor_pin:
pullup_resistor: 2200

[extruder1]
heater_pin:
sensor_pin:
pullup_resistor: 2200

[heater_bed]
heater_pin:
sensor_pin:

#########################################################
# Вентиляторы
#########################################################

[fan]
pin:

[heater_fan e0_fan]
pin:

[heater_fan e1_fan]
pin:

[controller_fan electronics_fan]
pin:

#########################################################
# Состояние электроники
#########################################################

[temperature_sensor RPi4]
sensor_type: temperature_host

[temperature_sensor Motherboard]
sensor_type: temperature_mcu

;;EXTRAS;;
